@media only screen and (max-width: 800px) {
    html {
        font-size: 16px;
    }
    .map {
        width: 50%;
    }
    .menu {
        width: 50%;
    }
}
@media only screen and (max-width: 680px) {
    html {
        font-size: 14px;
    }
    .not-for-mobile {
        display: none;
    }
    .menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .menu-header {
        z-index: 7;
        /* margin-bottom: 1rem; */
    }
    .menu-title {
        text-align: center;
        font-size: 1.25rem;
    }
    .header-form form {
        width: 100%;
        margin-right: 0;
    }
    .checkboxes label {
        font-size: 1rem;
        margin-left: 0.5rem;
    }
    #mobile-icons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 1.5rem;
    }
    #mobile-icons button {
        border: 0;
        background: none;
        font-weight: 700;
    }
    #mobile-icons button.active,
    #mobile-icons button:focus,
    #mobile-icons button:active {
        color: orange;
    }
    #filter-items {
        padding-top: 1.5rem;
    }


    .mobile-map,
    .address .more-info-btn {
        display: block;
    }

    #main-content {
        height: 85vh;
        position: relative;
    }
    .mobile-map {
        height: 100%;
        z-index: -2;
    }
    .mobile-map iframe {
        height: 100%;
        width: 100%;
        padding-bottom: 10px;
    }

    .cards {
        position: absolute;
        padding-bottom: 10px;
        top: 1%;
        opacity: 0;
        background: #fff;
        height: 100%;
        width: 100%;
        overflow-y: scroll;
        transition: all 0.3s ease-out;
        z-index: 5;
    }
    .cards.show{
        opacity: 1;
        transition: all 0.1s ease-in;
    }
}